---
import type { Profile } from '../lib/types/entities.types'

interface Props {
  profile: Profile
}

const { name, avatar, description } = Astro.props.profile

const shortDescription = description.split('.')[0].concat('.')

const title = `${name}'s Portfolio`

const { href, hostname } = Astro.url
---

<!doctype html>
<html lang="en" class="scroll-smooth focus:scroll-auto">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />

    <meta name="generator" content={Astro.generator} />

    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet"
    />

    <!-- HTML Meta Tags -->
    <title>{title}</title>
    <meta name="description" content={shortDescription} />
    <link rel="canonical" href={href} />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content={href} />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={shortDescription} />
    <meta property="og:image" content={avatar} />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content={hostname} />
    <meta property="twitter:url" content={href} />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={shortDescription} />
    <meta name="twitter:image" content={avatar} />
  </head>
  <body
    class:list={{ dark: false }}
    class="dark bg-gray-50 text-gray-700 transition-colors dark:bg-black dark:text-gray-200"
  >
    <slot />
  </body>
</html>
